name: Publish to NPM (Pre-release + Release)

on:
  workflow_call:
    inputs:
      version:
        required: false
        type: string

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://registry.npmjs.org"

      - name: Clean Install
        run: npm ci

      - name: Build
        run: npm run build

      # Pre-release logic
      - name: Set pre-release version
        if: ${{ inputs.version != '' }}
        run: npm version ${{ inputs.version }} --no-git-tag-version

      - name: Publish pre-release
        if: ${{ inputs.version != '' }}
        run: npm publish --tag next --provenance --access public

      # Release logic
      - name: Publish release
        if: ${{ inputs.version == '' }}
        run: npm publish --provenance --access public
